.imgStyle {
  object-fit: cover;
  border-radius: 20px;
  left: 40px;
  position: relative;
  height: 60px;
  padding-top: 25px;
}

.button-container {
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
  margin: auto;
  width: 100%;
  
}

.contact-button {
  position: fixed;
  bottom: 0px;
  left: 20px;
  font-size: 10px;

}
.play-button{
  color: rgb(226, 43, 43);
  font-size: 60px;
  position: relative;
  padding-bottom: 10px;
  padding-top: 20px;
  

}
.play-button:hover{
   opacity: 0.5;
   cursor: pointer;
}
.contact-button button {
  background-color: #007bff; /* Blue color for the button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect */
.contact-button button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}



.button {
  padding: 10px 20px;
  margin: 5px;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  width: 200px;
  background-color: #001a3500;
  color: rgb(0, 0, 0); /* White text color */
  border-width: 1px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

/* Hover effect */
.button:hover {
  background-color: #7a7a7a2f; /* Darker blue on hover */
}



#banner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  cursor: default;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#banner h2 {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1.2);
  transform: scale();
  -moz-transition: -moz-transform 0.5s ease-in, opacity 0.5s ease-in;
  -webkit-transition: -webkit-transform 0.5s ease-in, opacity 0.5s ease-in;
  -ms-transition: -ms-transform 0.5s ease-in, opacity 0.5s ease-in;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  display: inline-block;
  font-size: 1.65em;
  padding: 0.35em 1em;
  position: relative;
  letter-spacing: 0.20em;
  text-transform: uppercase;
  
}

#banner h2:before {
  top: 0;
  left: 0;
}

#banner h2:after {
  bottom: 0;
  right: 0;
}

#banner p {
  letter-spacing: 0.20em;
  text-transform: uppercase;
  font-size: 0.5em;
}

#banner p a {
  color: inherit;
}

.line {
  position: absolute;
  width: 18em;
  height: 1px;
  background-color: #000000;
  transform-origin: center;
  transform: scaleX(0);
}

.line2 {
  position: absolute;
  width: 0.5px;
  height: 50px;
  background-color: #000000;
  transform-origin: center;
  transform: scaleX(0);
  left: 50%;
}

.text {
  font-size: 120%;
  color: #000000;
  opacity: 1;
  
}

.background-container {
  position: absolute;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: fadeIn 2s linear alternate;
  z-index: inherit;
}
.boxout{
  
}
@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.background-image {
  background-image: url('../../photos/beach.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  position: absolute;
  z-index: -1; /* Place the background image below other content */
}


.toggle-button {
  color: #020202;
  border: none;
  padding: 10px;
  cursor: pointer;
  left:0;
}

.boxout.open{
  opacity: 1;
}
.boxout{
  opacity: 0;
}